* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1220px;
    margin: 0 auto;
}

.head {
    padding: 40px 0;
    background-color: black;
}

.head h3 {
    font-size: 22.55px;
    font-weight: 600;
    line-height: 30.7px;
    color: #3A68B8;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 41px;
    align-items: center;
}

header nav ul li a {
    text-decoration: none;
    color: #FFFFFF;
}

.head i {
    color: white;
}




header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li a:hover {
    color: #F57520;
}

.section1-hero {
    background-image: url(./img/1.png);
    background-repeat: no-repeat;
    background-size: cover;
    gap: 0px;
    opacity: 0px;

}

.section1-hero h1 {
    font-size: 96px;
    font-weight: 700;
    line-height: 118.08px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    padding-top: 80px;
}

.section1-hero h3 {
    font-size: 18px;
    font-weight: 600;
    line-height: 28.8px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    margin-top: 80px;
}

.btn {
    width: Fixed (180px)px;
    height: Hug (52px)px;
    padding: 16px 80px 16px 80px;
    gap: 10px;
    border-radius: 10px 10px 10px 10px;
    opacity: 0px;
    background: #F57520;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.68px;
    color: #FFFFFF;
    margin-top: 80px;
}

.section2-hero {
    background-color: #777777;
    padding: 80px 0;
}

.section2-hero h2 {
    font-size: 64px;
    font-weight: 800;
    line-height: 78.72px;
    letter-spacing: 0.05em;
    text-align: center;
    color: #101010;
}

.card1 {
    width: 1280px;
    height: 350px;
    border-radius: 10px 10px 10px 10px;
    opacity: 0px;
    background-color: #101010;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: 0.4s;
}

.card1:hover {
    background-color: #F57520;

}

.card1 img {
    width: 700px;
}

.card1 h3 {
    font-family: Open Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 49.2px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.card2 {
    width: 400px;
    height: 458px;
    padding: 80px 0px 0px 0px;
    gap: 0px;
    border-radius: 10px 10px 10px 10px;
    opacity: 0px;
    background-color: #101010;
    margin-top: 16px;
}

.card2 h3 {
    font-size: 40px;
    font-weight: 700;
    line-height: 49.2px;
    letter-spacing: 0.05em;
    text-align: center;
    color: white;
}

.card2:hover {
    background-color: #F57520;

}

.card2 img {
    padding-top: 45px;
}

.card3 {
    width: 390px;
    height: 216px;
    gap: 0px;
    border-radius: 10px 10px 1px 10px;
    opacity: 0px;
    background-color: #101010;
    transition: 0.4s;
}

.card3:hover {
    background-color: #F57520;

}

.card3 h3 {
    font-size: 40px;
    font-weight: 700;
    line-height: 49.2px;
    letter-spacing: 0.05em;
    text-align: left;
    color: white;
    padding-top: 29px;

}

.card3 img {
    margin-left: 259px;
    margin-top: -80px;
}


.carr {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.carrr {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

}


.background {
    background-color: #777777;
    padding: 300px 0;
}

.section3-hero {
    background-color: #777777;
    padding: 80px 0;
}

.bola-card1 {
    width: 400px;
    height: 462px;
    top: 2319px;
    left: 330px;
    gap: 0px;
    border-radius: 10px 10px 10px 10px;
    opacity: 0px;
    background-color: #101010;
    transition: 0.4;
}

.bola-card1:hover {
    color: #101010;
    background-color: #F57520;

}

.bola-card1 h3:hover {
    color: #101010;
}

.section3-hero h3 {
    font-size: 64px;
    font-weight: 800;
    line-height: 78.72px;
    letter-spacing: 0.05em;
    text-align: center;
    color: #FFFFFF;
}

.bola-card1 h4 {
    font-size: 16px;
    font-weight: 800;
    line-height: 25.6px;
    text-align: left;
    color: #FFFFFF;
    margin: 24px 0 0 27px;
}

.bola-card1 p {
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #FFFFFF;
    margin: 50px 0 0 27px;
}

.bola-card1 img {
    border-radius: 10px 10px 0 0;
}

.card2-ota {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.bola-card2 {
    width: 400px;
    height: 462px;
    top: 2319px;
    left: 330px;
    gap: 0px;
    border-radius: 10px 10px 10px 10px;
    opacity: 0px;
    background-color: #101010;
    transition: 0.4;
}

.bola-card2 h4 {
    font-size: 16px;
    font-weight: 800;
    line-height: 25.6px;
    text-align: left;
    color: #FFFFFF;
    margin: 24px 0 0 27px;
}

.bola-card2:hover {
    color: #101010;
    background-color: #F57520;

}

.bola-card2 p {
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #FFFFFF;
    margin: 50px 0 0 27px;
}

.form-section {
    max-width: 500px;
    width: 100%;
}

.form-section h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

input,
textarea,
button {
    margin-bottom: 15px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}

input,
textarea {
    width: 100%;
    background-color: #fff;
    color: #000;
}

button {
    background-color: #fff;
    color: #ff6600;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ffe6cc;
}

.image-section {
    max-width: 600px;
}

.image-section img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.section4-hero {
    padding: 80px 0;
    background-image: url(./img/image\ 86.png);
    background-repeat: no-repeat;
    background-position: right;
    background-color: #F57520;
}
.footer-column {
    flex: 1;
    margin: 10px;
    max-width: 200px;
   
}

.footer-column h4 {
    margin-bottom: 15px;
    font-size: 16px;
    text-transform: uppercase;
    color: white;
}

.footer-column p, .footer-column a {
    font-size: 14px;
    color: white;
    text-decoration: none;
}

.footer-column a:hover {
    color: #fff;
}
.ford{
    background-color: #101010;
    padding: 80px 0;
}
.ford12{
    display: flex;
    align-items: center;
    justify-content: space-between;
}